<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" >
        <link rel="stylesheet" href="/css/product.css">
        <title>Scraper</title>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <div class="message">
                </div>
                <div class="form-inline">
                    <div class="form-group mb-2">
                        <select class="form-control category" name="category" id="category" >
                        <option value=''>Select Category</option>
                        <% for(var i=0; i < categories.length; i++) { %>
                            <option value="<%= categories[i].replace('&', '_') %>" <%= categories[i] == category ? 'selected' : '' %> > <%= categories[i] %></option>
                        <% } %>
                        </select>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="form-control subcategory" name="subcategory" id="subcategory">
                            <option value=''>Select Sub-category</option>
                            <%if (subcategories.length !== 0) { %>
                                <% for(var i=0; i < subcategories.length; i++) { %>
                                    <option value="<%= subcategories[i].replace('&', '_') %>" <%= subcategories[i] == subcategory ? 'selected' : '' %> > <%= subcategories[i] %></option>
                                <% } %>
                            <% } %>
                        </select>
                        </select>
                    </div>
                    <button class="btn btn-success mb-2 submit"  <%= !isProcess ? 'disabled' : '' %>>Start Scrap</button>
                    <button class="btn btn-danger mb-2 stop"  <%= isProcess ? 'disabled' : '' %> >Stop</button>
                </div>
            </div>
        </div>
        <%if (products.length !== 0) { %>
        <div class="container-fluid">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>About</th>
                        <th>Image</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i < products.length; i++) { %>
                    <tr>
                        <td> <%= products[i].title %></td>
                        <td><%= products[i].price %></td>
                        <td><%= products[i].about %></td>
                        <td><img src="<%= products[i].images[0] %>" alt="" height="100" width="150"></td>
                    </tr>
                    <% } %>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Title</th>
                        <th>Price</th>
                        <th>About</th>
                        <th>Image</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <% } %>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#example').DataTable();
            try{
                $(".category").on("change", function () {
                    console.log($(this).val())
                    $.get({
                    type: 'GET',
                    url: '/getsubcategory/'+$(this).val(),
                    success: function(subcategory) {
                        var html = "<option value=''>Select Sub-category</option>";
                        for (var i = 0; i< subcategory.length; i++) {
                            html += "<option value='" + subcategory[i].subcategory.replace('&', '_') + "'>" + subcategory[i].subcategory + "</option>";
                        }
                        $('.subcategory').empty();
                        $('.subcategory').append(html);
                    }
                    });
                });
                $(".submit").on("click", function () {
                    console.log($('.category').val())
                    const category= $('.category').val().trim();
                    const subcategory= $('.subcategory').val().trim();
                    if(!category) {
                        var html='<div class="alert alert-danger">' +
                                    '<strong>Error!</strong> Please select category' +
                                '</div>'
                        $('.message').empty();
                        $('.message').append(html);
                    } else {
                        $.ajax({
                            type: 'json',
                            method: 'post',
                            url: '/scrap',
                            data:{ category, subcategory },
                            success: function(success, status) {
                                console.log(success, 'status', status)
                                location.href= '/?category='+category+'&subcategory='+subcategory;
                            },
                            error: function(err, status) {
                                var html='<div class="alert alert-danger">' +
                                        '<strong>Error!</strong> ' + err.responseText +
                                    '</div>'
                                $('.message').empty();
                                $('.message').append(html);
                            }
                        });
                    }
                });
                $(".stop").on("click", function () {
                    const category= $('.category').val().trim();
                    const subcategory= $('.subcategory').val().trim();
                    $.ajax({
                        type: 'json',
                        method: 'get',
                        url: '/restart',
                        success: function(success, status) {
                            location.href= '/?category='+category+'&subcategory='+subcategory;
                        },
                        error: function(err, status) {
                            var html='<div class="alert alert-danger">' +
                                    '<strong>Error!</strong> ' + err.responseText +
                                '</div>'
                            $('.message').empty();
                            $('.message').append(html);
                        }
                    });
                });
            }catch(e) {
                alert("Error");
            }
        })
    </script>
</html>