<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/product.css">
        <title>Product</title>
    </head>
    <body>
        <div class="container">
            <div class="col-md-3">
                <!-- <section class="panel">
                    <div class="panel-body">
                        <input type="text" placeholder="Keyword Search" class="form-control">
                    </div>
                </section> -->
                <section class="panel">
                    <header class="panel-heading">
                        Category
                    </header>
                    <div class="panel-body">
                        <ul class="nav prod-cat">
                            <li>
                                <a href="#" class="active"><i class=" fa fa-angle-right"></i> All</a>
                                <!-- <ul class="nav">
                                    <li class="active"><a href="#">- Shirt</a></li>
                                    <li><a href="#">- Pant</a></li>
                                    <li><a href="#">- Shoes</a></li>
                                </ul> -->
                            </li>
                            <% for(var i=0; i < categories.length; i++) { %>
                                <li> 
                                        <!-- href="?category=<%= categories[i]._id %>" -->
                                    <a class="<%= categories[i]._id === category ? 'active' : '' %>"><i class=" fa fa-angle-right"></i> <%= categories[i]._id %></a>
                                    <ul class="nav <%= categories[i]._id === category ? 'sub-cat-block' : 'sub-cat' %>">
                                        <% for(var j=0; j < categories[i].subcategory.length; j++) { %>
                                            <li><a class="<%= categories[i].subcategory[j] === subcategory ? 'active' : '' %>" href="/<%= categories[i]._id %>/<%= categories[i].subcategory[j] %>">- <%= categories[i].subcategory[j]%></a></li>
                                        <% } %> 
                                    </ul>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                </section>
                <!-- <section class="panel">
                    <header class="panel-heading">
                        Filter
                    </header>
                    <div class="panel-body">
                        <form role="form product-form">
                            <div class="form-group">
                                <label>Brand</label>
                                <select class="form-control hasCustomSelect" style="-webkit-appearance: menulist-button; width: 231px; position: absolute; opacity: 0; height: 34px; font-size: 12px;">
                                    <option>Wallmart</option>
                                    <option>Catseye</option>
                                    <option>Moonsoon</option>
                                    <option>Textmart</option>
                                </select><span class="customSelect form-control" style="display: inline-block;"><span class="customSelectInner" style="width: 209px; display: inline-block;">Wallmart</span></span>
                            </div>
                            <button class="btn btn-primary" type="submit">Filter</button>
                        </form>
                    </div>
                </section> -->
            </div>
            <div class="col-md-9">
                <!-- <section class="panel">
                    <div class="panel-body">
                        <div class="pull-right">
                            <ul class="pagination pagination-sm pro-page-list">
        
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>
                </section> -->
                <%if (products.length !== 0) { %>
                    <div class="row product-list">
                        <% for(var i=0; i < products.length; i++) { %>
                            <div class="col-md-4 height-370">
                                <section class="panel min-height-340">
                                    <div class="pro-img-box">
                                        <img src="<%= products[i].images[0] %>" alt="">
                                        <!-- <a href="#" class="adtocart">
                                            <i class="fa fa-shopping-cart"></i>
                                        </a> -->
                                    </div>
                
                                    <div class="panel-body text-center">
                                        <h4>
                                            <a href="/product/detail/<%= products[i]._id %>" class="pro-title">
                                                <%= products[i].title %>
                                            </a>
                                        </h4>
                                        <p class="price"><%= products[i].price %></p>
                                    </div>
                                </section>
                            </div>
                        <% } %>
                        <!-- <div class="col-md-4">
                            <section class="panel">
                                <div class="pro-img-box">
                                    <img src="http://thevectorlab.net/flatlab/img/product-list/pro1.jpg" alt="">
                                    <a href="#" class="adtocart">
                                        <i class="fa fa-shopping-cart"></i>
                                    </a>
                                </div>
            
                                <div class="panel-body text-center">
                                    <h4>
                                        <a href="#" class="pro-title">
                                            Leopard Shirt Dress
                                        </a>
                                    </h4>
                                    <p class="price">$300.00</p>
                                </div>
                            </section>
                        </div> -->
                    </div>
                <% } %>
                <%if (products.length === 0) { %>
                    <div class="row product-list">
                        <h3>No Product Found</h3>
                    </div>
                <% } %>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function(){
            try{
                $('ul.nav.prod-cat li').click( function(){
                    $('ul.nav.prod-cat li a').removeClass('active');
                    $('.sub-cat').css('display', 'none');
                    $(this).find('a').first().addClass('active');
                    $(this).find('ul.nav.sub-cat').css('display', 'block');
                })
            }catch(e) {
                alert("Error");
            }
        })
    </script>
</html>