<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project detail</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/product_detail.css">
  </head>

  <body>
	
	<div class="">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
                                <% product_detail.images.forEach(function(el, index) { %>
                                    <%if (index === 0) { %>
                                        <div class="tab-pane active" id="pic-<%= index + 1 %>"><img src="<%= el %>" /></div>
									<% } %>
									<%if (index !== 0) { %>
                                        <div class="tab-pane" id="pic-<%= index + 1 %>"><img src="<%= el %>" /></div>
                                    <% } %>
                                   
                                <% }); %>
						  <!-- <div class="tab-pane active" id="pic-1"><img src="http://placekitten.com/400/252" /></div> -->
						  <!-- <div class="tab-pane" id="pic-2"><img src="http://placekitten.com/400/252" /></div> -->
						</div>
						<ul class="preview-thumbnail nav nav-tabs">
                                <% product_detail.images.forEach(function(el, index) { %>
                                    <%if (index === 0) { %>
                                        <li class="active"><a data-target="#pic-<%= index + 1 %>" data-toggle="tab"><img src="<%= el %>" /></a></li>
                                    <% } %>
									<%if (index !== 0) { %>
                                        <li><a data-target="#pic-<%= index + 1 %>" data-toggle="tab"><img src="<%= el %>" /></a></li>
                                    <% } %>
                                <% }); %>
						  <!-- <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li> -->
						  <!-- <li><a data-target="#pic-2" data-toggle="tab"><img src="http://placekitten.com/200/126" /></a></li> -->
						</ul>
						
					</div>
					<div class="details col-md-6">
						<h3 class="product-title"><%= product_detail.title %></h3>
						<!-- <div class="rating">
							<div class="stars">
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star checked"></span>
								<span class="fa fa-star"></span>
								<span class="fa fa-star"></span>
							</div>
							<span class="review-no">41 reviews</span>
						</div> -->
						<p class="product-description"><%= product_detail.about %></p>
						<h4 class="price">current price: <span><%= product_detail.price %></span></h4>
						<!-- <p class="vote"><strong>91%</strong> of buyers enjoyed this product! <strong>(87 votes)</strong></p> -->
						
						<h5 class="sizes">Category:
							<span data-toggle="tooltip" title="<%= product_detail.category %>">&nbsp;&nbsp;<%= product_detail.category %></span>
						</h5>
						<h5 class="colors">Sub-category:
							<span data-toggle="tooltip" title="<%= product_detail.subcategory %>">&nbsp;&nbsp;<%= product_detail.subcategory %></span>
						</h5>
						<div class="action">
							<a href="/" class="add-to-cart btn btn-default" type="button">Back to Home</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </body>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</html>
